figure.picture {
    margin: 0px;
    border-radius: $border_radius;
    img {
        border-radius: inherit;
    }
    &.bordered {
        img {
            border: 3px solid $white;
            padding: 5px;
        }
    }
    &.#{map-get($directions, "Middle")} {
        text-align: center;
    }
    &.#{map-get($directions, "Left")} {
        text-align: left;
    }
    &.#{map-get($directions, "Right")} {
        text-align: right;
    }
}