$base_font_size: 12px;
$base_font_family: "Open Sans";
// UX&UI
$border_radius: 8px;
$transitionDelay: 0.3s;
$zIndex: 100;
$directions: (
    Top: "top",
    TopLeft: "topLeft",
    TopRight: "topRight",
    Bottom: "bottom",
    BottomLeft: "bottomLeft",
    BottomRight: "bottomRight",
    Right: "right",
    Left: "left",
    Middle: "middle",
    MiddleLeft: "middleLeft",
    MiddleRight: "middleRight",
);
// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// Backgrounds
$backgrounds: (
    light: "light.jpg",
    workspace: "workspace.jpg",
    room: "room.jpg",
    microchip: "microchip.jpg",
);
// Header
$header_width: 100%;
$header_height: 40px;
$header_background: rgba(0, 0, 0, 0.5);
$header_navFontSize: 14px;
$header_navColor: #999999;
$header_navActiveColor: $white;
$header_zIndex: $zIndex;
